.page-masthead
  .container
    %h1
      New Checklist Template
    %p
      Create a new template
.container
  %section.col-sm-9
    .page_header
      %h1
        Checklist template
      %p.lead
        Add a name to your template and add questions/measurements to be checked for in field
    %br
    = form_for @checklist, url: checklists_path, html: {role: "form", :class => "form-horizontal clearfix"} do |f|
      .form-group
        = f.label :name, :class => "col-sm-3 control-label"
        .col-sm-9
          = f.text_field :name, autofocus: true, :class => "form-control", placeholder: "Enter Name of the Checklist"
      .form-group
        = f.label :description, :class => "col-sm-3 control-label"
        .col-sm-9
          = f.text_field :description, autofocus: true, :class => "form-control", placeholder: "Enter A Brief Description"

      = f.submit "Create", :class => "btn btn-primary pull-right", id: "submit_button"
  %section.col-sm-3
    %ul.nav.sidenav
      %li#yes_no_question_add.btn.btn-success
        Add a Yes/No Question
      %li#measurement_question_add.btn.btn-success
        Add an Equipment Measurement
