.page-masthead
  .container
    %h1
      New Checklist Template
    %p
      Create a new template
.container
  %section.col-sm-9
    .page_header
      %h1
        Checklist template
      %p.lead
        Add a name to your template and add questions/measurements to be checked for in field
    %br
    - path = @checklist.new_record? ? checklists_path : checklist_path(@checklist)
    = form_for @checklist, url: path, html: {role: "form", :class => "form-horizontal clearfix checklist_form"} do |f|
      .form-group
        = f.label :name, :class => "col-sm-3 control-label"
        .col-sm-9
          = f.text_field :name, autofocus: true, :class => "form-control", placeholder: "Enter Name of the Checklist"
      .form-group
        = f.label :description, :class => "col-sm-3 control-label"
        .col-sm-9
          = f.text_field :description, autofocus: true, :class => "form-control", placeholder: "Enter A Brief Description"
      = f.fields_for :check_items, @checklist.check_items  do |cif|
        .form-group
          = cif.hidden_field :id
          = cif.hidden_field :type
          = cif.label :question, "Yes/No question", :class => "col-sm-3 control-label"
          .col-sm-7
            = cif.text_field :question, :class => "form-control", placeholder: "Enter Name of the Checklist"
          .col-sm-2
            %button.btn.btn-danger.pull-right.remove_question_button
              Remove
      - button_text = @checklist.new_record? ? "Create" : "Save"
      - button_class = "btn pull-right " + (@checklist.new_record? ? "btn-primary" : "btn-success")
      = f.submit button_text, :class => button_class, id: "submit_button"
  %section.col-sm-3
    %ul.nav.sidenav
      %li#yes_no_question_add.btn.btn-success
        Add a Yes/No Question