!!! 5
%html
  %head
    %title
      Checklists
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-static-top{role:"banner"}
      .container
        .navbar-header
          = link_to "Checklists", "/", :class => "navbar-brand"
        .collapse.navbar-collapse
          = render partial: "layouts/masthead"
    = yield
    #footer
      .container
        %p.text-muted
          A simple app with an API