!!! 5
%html
  %head
    %title
      Checklists
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        = render partial: "layouts/masthead"
      = yield
      .cover-container
        .mastfoot
          .inner
            %p
              A simple example for prototyping purposes
      